<!-- Pricing -->
<div id="pricing" class="section sm-padding">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Pricing Table</h2>
            </div>
            <!-- /Section header -->
            <!-- pricing -->
            <div class="col-sm-4">
                <div class="pricing">
                    <div class="price-head">
                        <span class="price-title">Basic plan</span>
                        <div class="price">
                            <h3>$9<span class="duration">/ month</span></h3>
                        </div>
                    </div>
                    <ul class="price-content">
                        <li>
                            <p>1GB Disk Space</p>
                        </li>
                        <li>
                            <p>100 Email Account</p>
                        </li>
                        <li>
                            <p>24/24 Support</p>
                        </li>
                    </ul>
                    <div class="price-btn">
                        <button class="outline-btn">Purchase now</button>
                    </div>
                </div>
            </div>
            <!-- /pricing -->
            <!-- pricing -->
            <div class="col-sm-4">
                <div class="pricing">
                    <div class="price-head">
                        <span class="price-title">Silver plan</span>
                        <div class="price">
                            <h3>$19<span class="duration">/ month</span></h3>
                        </div>
                    </div>
                    <ul class="price-content">
                        <li>
                            <p>1GB Disk Space</p>
                        </li>
                        <li>
                            <p>100 Email Account</p>
                        </li>
                        <li>
                            <p>24/24 Support</p>
                        </li>
                    </ul>
                    <div class="price-btn">
                        <button class="outline-btn">Purchase now</button>
                    </div>
                </div>
            </div>
            <!-- /pricing -->
            <!-- pricing -->
            <div class="col-sm-4">
                <div class="pricing">
                    <div class="price-head">
                        <span class="price-title">Gold plan</span>
                        <div class="price">
                            <h3>$39<span class="duration">/ month</span></h3>
                        </div>
                    </div>
                    <ul class="price-content">
                        <li>
                            <p>1GB Disk Space</p>
                        </li>
                        <li>
                            <p>100 Email Account</p>
                        </li>
                        <li>
                            <p>24/24 Support</p>
                        </li>
                    </ul>
                    <div class="price-btn">
                        <button class="outline-btn">Purchase now</button>
                    </div>
                </div>
            </div>
            <!-- /pricing -->
        </div>
        <!-- Row -->
    </div>
    <!-- /Container -->
</div>
<!-- /Pricing -->
<!-- Testimonial -->
<div id="testimonial" class="section sm-padding">
    <!-- Background Image -->
    <div class="bg-img" style="background-image: url('/assets/anvil_theme/img/background3.jpg');">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Testimonial slider -->
            <div class="col-md-10 col-md-offset-1">
                <div id="testimonial-slider" class="owl-carousel owl-theme">
                    <!-- testimonial -->
                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="/assets/anvil_theme/img/perso1.jpg" alt="">
                            <h3 class="white-text">John Doe</h3>
                            <span>Web Designer</span>
                        </div>
                        <p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non
                            consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>
                    </div>
                    <!-- /testimonial -->
                    <!-- testimonial -->
                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="/assets/anvil_theme/img/perso2.jpg" alt="">
                            <h3 class="white-text">John Doe</h3>
                            <span>Web Designer</span>
                        </div>
                        <p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non
                            consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>
                    </div>
                    <!-- /testimonial -->
                </div>
            </div>
            <!-- /Testimonial slider -->
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
</div>
<!-- /Testimonial -->