<!-- Service -->
<div id="service" class="section sm-padding">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">What we offer</h2>
            </div>
            <!-- /Section header -->
            <!-- service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-diamond"></i>
                    <h3>App Development</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->
            <!-- service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-rocket"></i>
                    <h3>Graphic Design</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->
            <!-- service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-cogs"></i>
                    <h3>Creative Idea</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->
            <!-- service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-diamond"></i>
                    <h3>Marketing</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->
            <!-- service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-pencil"></i>
                    <h3>Awesome Support</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->
            <!-- service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-flask"></i>
                    <h3>Brand Design</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
</div>
<!-- /Service -->
<!-- Why Choose Us -->
<div id="features" class="section sm-padding bg-grey">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- why choose us content -->
            <div class="col-md-6">
                <div class="section-header">
                    <h2 class="title">Why Choose Us</h2>
                </div>
                <p>Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam
                    id diam maecenas ultricies mi eget mauris. Ultrices sagittis orci a scelerisque purus.</p>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Quis varius quam quisque id diam vel quam elementum.</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Mauris augue neque gravida in fermentum.</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Orci phasellus egestas tellus rutrum.</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
                </div>
            </div>
            <!-- /why choose us content -->
            <!-- About slider -->
            <div class="col-md-6">
                <div id="about-slider" class="owl-carousel owl-theme">
                    <img class="img-responsive" src="/assets/anvil_theme/img/about1.jpg" alt="">
                    <img class="img-responsive" src="/assets/anvil_theme/img/about2.jpg" alt="">
                    <img class="img-responsive" src="/assets/anvil_theme/img/about1.jpg" alt="">
                    <img class="img-responsive" src="/assets/anvil_theme/img/about2.jpg" alt="">
                </div>
            </div>
            <!-- /About slider -->
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
</div>
<!-- /Why Choose Us -->
<!-- Numbers -->
<div id="numbers" class="section sm-padding">
    <!-- Background Image -->
    <div class="bg-img" style="background-image: url('/assets/anvil_theme/img/background2.jpg');">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- number -->
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-users"></i>
                    <h3 class="white-text"><span class="counter">451</span></h3>
                    <span class="white-text">Happy clients</span>
                </div>
            </div>
            <!-- /number -->
            <!-- number -->
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-trophy"></i>
                    <h3 class="white-text"><span class="counter">12</span></h3>
                    <span class="white-text">Awards won</span>
                </div>
            </div>
            <!-- /number -->
            <!-- number -->
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-coffee"></i>
                    <h3 class="white-text"><span class="counter">154</span>K</h3>
                    <span class="white-text">Cups of Coffee</span>
                </div>
            </div>
            <!-- /number -->
            <!-- number -->
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-file"></i>
                    <h3 class="white-text"><span class="counter">45</span></h3>
                    <span class="white-text">Projects completed</span>
                </div>
            </div>
            <!-- /number -->
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
</div>
<!-- /Numbers -->